/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root{
    /* colors */
    --clr-primary-soft-orange: hsl(35, 77%, 62%);
    --clr-primary-soft-red:hsl(5, 85%, 63%);
    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue:hsl(236, 13%, 42%);
    --clr-very-dark-blue:hsl(240, 100%, 5%);
    
    /* font-sizes */
    --fs-800:3.5rem;
    --fs-700:1.5rem;
    --fs-400:0.9375rem;

    /* font-family */

    --ff-inter:'Inter', sans-serif;
}

@media(min-width:35em){
    :root{
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}