/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root{
    /* colors */
    --clr-primary-soft-orange: 35, 77%, 62%;
    --clr-primary-soft-red:5, 85%, 63%;
    --clr-off-white: 36, 100%, 99%;
    --clr-white: 0 0% 100%;
    --clr-grayish-blue:236, 13%, 42%;
    --clr-very-dark-blue:240, 100%, 5%;
    
    /* font-sizes */
    --fs-800:3.5rem;
    --fs-700:1.5rem;
    --fs-600: 1rem;
    --fs-500: 1.75rem;
    --fs-400:0.9375rem;

    /* font-family */

    --ff-sans-inter:'Inter', sans-serif;
}

@media(min-width:35em){
    :root{
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}
/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */

*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
picture{
    margin: 0;
}

/* Reset font-weight  */
h1,
h2,
h3,
h4,
h5,
p{
    font-weight: 400;
}

/* set up the body */
body{
    font-family: var(--ff-sans-inter);
    font-size: var(--fs-400);
    color: hsl(var(--clr-very-dark-blue));
    background-color: hsl(var(--clr-off-white));
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picture{
    max-width: 100%;
    display: block;
}

/* make from elements easier to work with */

button,
select{
    font:inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* ------------------- */
/* Utility class       */
/* ------------------- */

/* genral */

.flex{
    display: flex;
    gap: var(--gap,1rem);
}

.grid{
    display: grid;
    gap: var(--gap,1rem);
}

.container{
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.flow > *:where(:not(:first-child)){
    margin-top: var(--flow-space,1rem);
    /* outline: 1px solid green; */
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  /* colors */

  .bg-dark{background-color: hsl (var(--clr-very-dark-blue));}
  .bg-white{background-color: hsl (var(--clr-off-white));}
  .bg-red{background-color: hsl (var(--clr-primary-soft-red));}

  .text-dark{color: hsl( var(--clr-very-dark-blue));}
  .text-white{color:hsl( var(--clr-off-white));}
  .text-organe{color:hsl( var(--clr-primary-soft-orange));}

  /* typograpghy */

  .ff-sans-inter{font-family: var(--ff-sans-inter);}

  .letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }


.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }


.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title{
    font-family: var(--ff-sans-inter);
    font-size: var(--fs-700);
    text-transform: uppercase;
    letter-spacing: 4.72px;
    font-weight: 700;
    color: hsl(236, 13%, 42%,.25) ;
}
@media(min-width:45em){
    .numbered-title{
        font-size: var(--fs-600);
    }
}
/* ------------------- */
/* Compontents         */
/* ------------------- */

/* .cta-button{
    position: relative;
    display: grid;
    z-index: 1;
    place-items: center;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
}
 for animation
.cta-button::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: green;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;

}
.cta-button:hover::after,
.cta-button:focus::after{
    opacity: 1;
    transform: scale(1.5);
} */

.cta-button{
    text-decoration: none;
    /* border: 1px solid red; */
    /* display: grid; */
    
    padding: 0.7em 1em;
    /* aspect-ratio:1/2; */
    letter-spacing: 5px;
    font-weight: 600;
    cursor: pointer;
    background-color: hsl(var(--clr-primary-soft-red));
    color: hsl(var(--clr-off-white));
    /* font-size: 1rem; */
    /* margin-bottom: 0; */
    /* margin-bottom: 4.5em; */
}
@media(min-width:45em){
    .cta-button{
        /* margin-top: 60em; */
        margin-left: 6em;
    }
    
}

/* header */
header{
    /* border: 1px solid red; */
    margin-top: 0.5em;
    margin-inline: 1em;
    display: flex;
    /* padding-inline: 1em; */
    justify-content: space-between;
    align-items: center;
}

.mobile-toggle-menu{
    /* border: 1px solid purple; */
    margin-right: -15.85em;
}

/* main content */
/* .hero-img{
    background-image: url('./assets/images/image-web-3-mobile.jpg');
    width: 92%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
    
    margin-inline: 1em;
} */
.hero-img{
    margin-inline: 1em;
    margin-bottom: 0;
}
.mobile-hero-img{
    

}
.desktop-hero-img{
    display: none;
}
@media (min-width:45em) {
    /* .hero-img{
        background-image: url('./assets/images/image-web-3-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-size: cover;
        background-position: center center;
        width: 98.5%;
        height: 40;
    } */
    .hero-img{
        /* outline: 2px solid purple; */
        height: 50%;
        
    }
    .mobile-hero-img{
        display: none;
    }
    .desktop-hero-img{
        display: block;
        /* margin-inline: 1em; */
        /* height: inherit; */
        /* border: 1px solid blue; */
        height: 100%;
        width: 100%;
    }
}

.hero-heading{
    font-weight: 800;
    /* margin-inline: 1em; */
    /* text-align: center; */
    /* margin-inline-start: 0.7em; */
    /* margin-left: 0.2em; */
    /* border: 1px solid red; */
    margin-left: 1em;
    margin-bottom: 0;
    /* max-width: 65ch; */
}

.hero-heading > h1{
    font-weight: 900;
    
}

@media(min-width:45em){
    .hero-heading > h1{
        font-size: var(--fs-700);
        font-weight: 900;
        margin-bottom: 0;
    }
}
.hero-text{
    /* border: 1px solid red; */
    margin-top: 0.4em;
    margin-inline: 1em;
    /* margin-bottom: 1.5em; */

}

.hero-text p{
    font-weight: 500;
    margin-bottom: 1.75em;
    color: hsl(228, 2%, 46%) ;
    
    /* margin-bottom: 0; */
    
}
@media(min-width:45em){
    .hero-text p{
        overflow: hidden;
  max-width: 55ch;
  margin-left: 6em;
  /* margin-top: 0em;s */
  margin-bottom: 2.5em;
    }
}

.new-feature{
    margin-inline: 1em;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 0;
    /* border: 1px solid lawngreen; */
    background-color: hsl(var(--clr-very-dark-blue));
    color: hsl(var(--clr-off-white));
}

@media(min-width:45em){
    .new-feature{
        margin-top: 0;
    }
}


.new-feature>h2{
    color: hsl(var(--clr-primary-soft-orange));
}

.latest-update{
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr 1fr 1fr;
    /* outline: 1px solid red; */
}

.news{
    border-bottom: 1px solid grey;
}
.news>h3{
    margin-bottom: 0.8em;
}
.news>p{
    font-size: var(--fs-400);
    font-weight: 200;
    color: grey;
}

.hero-grid-container{
    /* outline: 2px solid firebrick; */
    margin-top: 1em;
    display: grid;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-inline: 1em;
    /* align-items: stretch; */
    /* margin-bottom: 0; */
    /* grid-template-columns: 3fr 1fr; */
}
.hero-grid-container> div{
    /* outline: 3px solid lawngreen; */
    margin-bottom: 0;
    
}

@media(min-width:45em){
    .hero-grid-container{
        grid-template-columns: 3fr 26%;
        /* grid-template-rows: 20%; */
        /* height: 50vh; */
    }
    .primary-section{
        /* height: min-content; */
        max-height: 69vh;
    }
}

.grid-container{
    display: grid;
}
@media(min-width:45em){
    .grid-container{
        grid-template-columns: 1fr 3fr;
        margin-bottom: 0;
    }
}
.primary-section{
    margin-bottom: 0;
}

.other-article-grid{
    margin-top: 0.5em;
    display: grid;
    margin-inline: 2em;
    /* border: 2px solid black; */
    /* place-items:center; */
    /* gap: 1em; */
    
    
}
/* .other-article-grid:first-child{
    margin-top: 1em;
} */
@media(min-width:45em){
    .other-article-grid{
    grid-template-columns: 1fr 1fr 1fr;
    /* margin-top: 4em; */
    }
}


.article > img{
    /* max-height: 10%; */
    /* border: 2px solid firebrick; */
    height: 90%;
    margin-top: 0.5em;

}
@media(min-width:45em){
    .article>img{
        max-height: 21vh;
    }
}
.article {
    display: grid;
    /* grid-auto-columns: 1fr 1fr; */
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
    
    
}
.article>p{
    color: rgb(248, 242, 242) ;
    
}
@media(min-width:45em){
    .article{
        margin-bottom: 2em;
        justify-items:left;
        gap: 0em;
    }
}
h3,h2{
    font-weight: 700;
}